@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<div class="bienvenida">
    <h2>Bienvenido, @ViewBag.NombreUsuario</h2>

    <p>Nombre: @ViewBag.Nombre</p>
    <p>Apellido: @ViewBag.Apellido</p>
    <p>Email: @ViewBag.Email</p>
    <p>Teléfono: @ViewBag.Telefono</p>
    <p>Documento: @ViewBag.Documento</p>
</div>